* {
    box-sizing: border-box;
}

:root {
    background-color: #f1f1f1;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

blockquote {
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
